<div>
  <ul>{{lannister.house}}</ul>
  <ul><ul>{{lannister.parents.first_parents}}</ul>
  <ul>{{lannister.parents.second_parents}}</ul>
  <ul><ul>{{lannister.child.first_child}}</ul>
  <ul>{{lannister.child.second_child}}</ul>
  <ul>{{lannister.child.third_child}}</ul>
  <ul>{{lannister.child.fourth_child}}</ul></ul></ul>
</div>


<div>
  <ul>{{targaryen.house}}</ul>
  <ul><ul>{{targaryen.parents}}</ul>
  <ul><ul>{{targaryen.child.first_child}}</ul>
  <ul>{{targaryen.child.second_child}}</ul>
  <ul>{{targaryen.child.third_child}}</ul></ul></ul>
</div>
<div>
  <ul>{{stark.house}}</ul>
  <ul><ul>{{stark.parents}}</ul>
  <ul><ul>{{stark.child.first_child}}</ul>
  <ul>{{stark.child.second_child}}</ul>
  <ul>{{stark.child.third_child}}</ul>
  <ul>{{stark.child.fourth_child}}</ul>
  <ul>{{stark.child.fifth_child}}</ul></ul></ul>
</div>
